<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="colorForm">
        <div class="mb-3">
          <label for="colorName" class="form-label">Enter Color Name</label>
          <input
            type="text"
            class="form-control"
            id="colorName"
            formControlName="colorName"
          />
        </div>
        <button type="submit" (click)="addColor()" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h4>Select Color To Update</h4>
      <form [formGroup]="colorUpdateForm">
        <select
          id="colorId"
          formControlName="colorId"
          class="form-select"
          aria-label="Default select example"
        >
          <option *ngFor="let color of colors" ngValue="{{ color.colorId }}">
            {{ color.colorName }}
          </option>
        </select>
        <input
          type="text"
          class="form-control mt-3"
          id="colorName"
          formControlName="ColorName"
        />
        <button type="submit" (click)="updateColor()" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
