<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="fs-4">Welcome</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="info" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
          User Info
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="settings" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
          User Settings
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="companysettings" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
          User Company Settings
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="rentals" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
          User Previous Rentals
        </a>
      </li>
    </ul>
    <hr>
  </div>