<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="carAddForm">
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example">
            <option selected>Select Brand</option>
            <option *ngFor="let brand of brands" ngValue="brand.brandId"> {{brand.brandName}} </option>
          </select>
        </div>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example">
            <option selected>Select Color</option>
            <option *ngFor="let color of colors" ngValue="color.colorId">{{color.colorName}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="carName" class="form-label"
            >Enter Car Name</label
          >
          <input
            type="text"
            class="form-control"
            id="carName"
            placeholder="ex. Volvo"
          />
        </div>
        <div class="mb-3">
          <label for="modelYear" class="form-label"
            >Enter Model Year</label
          >
          <input
            type="number"
            class="form-control"
            id="modelYear"
            placeholder="ex. 1999"
          />
        </div>
        <div class="mb-3">
          <label for="dailyPrice" class="form-label"
            >Enter Daily Price</label
          >
          <input
            type="number"
            class="form-control"
            id="dailyPrice"
            placeholder="ex. 1500$"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label"
            >Enter Description</label
          >
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="ex. family car"
          />
        </div>
      </form>
    </div>
  </div>
</div>
